body {
  background-color: rgb(251, 251, 251);
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: "Courier", monospace;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hidden {
  display: none !important;
}

.ip-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ip {
  font-size: 16px;
  padding: 20px 25px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgb(33, 33, 33);
  max-width: calc(100% / 4);
  width: calc(100% / 4);
  max-width: 250px;
}

@media only screen and (max-width: 768px) {
  .ip {
    max-width: calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 600px) {
  .ip {
    max-width: calc(100% / 2);
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: 400px) {
  .ip {
    max-width: calc(100%);
    width: calc(100%);
  }
}

.ip .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.ip .info {
  text-align: center;
  font-size: 11px;
}

.ip .message {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  line-height: 1.3;
  cursor: text;
}

.invisible {
  opacity: 0;
}

.my {
  color: red;
  font-weight: bold;
}

/* Flag */
.flag-container {
  cursor: pointer;
  height: 100%;
  display: flex;
  user-select: none;
}

.flag {
  /* display: inline-block; */
  height: 28px;
  border-radius: 1px;
  border: 0.5px solid rgb(184, 184, 184);
  user-select: none;
}

.show-tooltip .tooltip {
  opacity: 1;
  display: block;
}

.tooltip {
  opacity: 0;
  display: none;

  transition: opacity 0.2s;
  position: absolute;

  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;

  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  z-index: 10;

  /* min-width: 100; */
}
/* End flag */

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.909);
}

.modal-container small {
  font-size: 10px;
  text-align: center;
  padding: 0 20px;
}

.modal {
  max-width: 500px;
  min-width: 180px;
  box-sizing: border-box;

  background-color: white;

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  border: 2px solid black;
  border-radius: 8px;
  padding: 30px;
}

.modal textarea {
  flex: 1;
  width: 100%;

  min-height: 100px;

  resize: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;

  text-align: center;

  font-size: 18px;
}

.modal button {
  width: 100%;
  padding: 10px;

  border: 0px solid black;
  border-radius: 8px;

  background-color: rgb(210, 220, 255);
  cursor: pointer;

  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.modal button:hover {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.modal button:active {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal button.secondary {
  background-color: white;

  border: 0;

  color: grey;

  font-weight: bold;
}

.modal .message {
  text-align: center;
  width: 100%;

  font-size: 14px;
}

.modal p {
}

.modal quote {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.my-info {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-size: 12px;

  cursor: pointer;

  border: 1px solid black;
  border-radius: 8px;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.759);

  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.my-info:hover {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.my-info:active {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
