<%- include('partials/header') %>

<style>
  .add-ip-holder {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    gap: 10px;

    font-size: 18px;
  }

  .textarea-container {
    position: relative;
    width: 100%;
  }

  .remaining {
    position: absolute;
    bottom: -12px;
    right: 0;

    font-size: 12px;
  }

  .remaining.error {
    color: red;
  }

  .animate-remaining {
    animation: animate-remaining 0.2s ease-in-out;
  }

  @keyframes animate-remaining {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .error-message {
    color: red;
  }

  .hidden {
    display: none;
  }
</style>

<div class="modal-container">
  <div class="modal">
    <div class="message">
      Write an <b><em>interesting</em></b> message. You will
      <b><em>never</em></b> be able to edit it, delete it, or add another
      message.
    </div>
    <div class="textarea-container">
      <textarea autofocus placeholder="Add your message"></textarea>
      <div class="remaining"></div>
    </div>
    <span class="error-message hidden"></span>
    <button onclick="submit()" id="submit-button">
      Share my message and view the guestbook
    </button>
  </div>
</div>

<script>
  const textarea = document.querySelector("textarea");
  const remaining = document.querySelector(".remaining");

  const calculateRemaining = () => {
    if (textarea.value.length > 256) {
      remaining.classList.add("error");
    } else {
      if (remaining.classList.contains("error")) {
        remaining.classList.remove("error");
      }
    }

    remaining.textContent = `${textarea.value.length}/256`;
  };

  calculateRemaining();
  textarea.addEventListener("input", calculateRemaining);

  const submit = async () => {
    if (textarea.value.length > 256) {
      remaining.classList.add("animate-remaining");
      setTimeout(() => {
        remaining.classList.remove("animate-remaining");
      }, 200);
      return;
    }

    console.log("submitting", textarea.value);

    document.getElementById("submit-button").disabled = true;
    document.getElementById("submit-button").innerHTML = "Submitting...";

    await fetch("/add", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        message: textarea.value,
      }),
    })
      .then(async (res) => {
        if (!res.ok) {
          const errorData = await res.json();
          document.getElementById("submit-button").disabled = false;
          document.getElementById("submit-button").innerHTML =
            "Share my message and IP address with the world";

          throw new Error(errorData.error);
        }

        return res.json();
      })
      .then((res) => {
        console.log(res);
        if (res.banned) {
          window.location.href = "/banned";
        } else if (res.success) {
          window.location.href = "/";
        }
      })
      .catch((err) => {
        console.error(err);
        document.querySelector(".error-message").textContent = err.message;
        document.querySelector(".error-message").classList.remove("hidden");
      });
  };
</script>

<%- include('partials/footer') %>
