<%- include('partials/header') %>

<style></style>

<div class="modal-container">
  <div class="modal">
    <div class="message">
      <h1>BANNED</h1>

      <p>
        Sorry, the message you provided was not interesting enough to post on
        this guestbook.
      </p>

      <p>Your message was:</p>

      <p>
        <quote><%= message %></quote>
      </p>

      <p>It was rejected because:</p>

      <p>
        <quote><%= reason %></quote>
      </p>

      <p>As a result, you are forever banned from posting on this guestbook.</p>
    </div>

    <button onclick="document.location.href = '/guestbook'">
      View more interesting messages
    </button>
  </div>
</div>

<script></script>

<%- include('partials/footer') %>
